body {
  background-color: rgb(29, 83, 159);
}

.App,
.sectionContainer {
  text-align: center;
  color: white;
}

.resumeSection {
  background-color: white;
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
  color: black;
}

.resumeSection p {
  font-style: italic;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.inputContent {
  text-align: left;
  margin-bottom: 10px;
}

.sectionList {
  text-align: left;
  padding: 0px 20px;
  list-style: none;
}

.sectionList .list {
  margin-bottom: 20px;
}

.sectionList .content {
  display: flex;
  justify-content: space-between;
}

.sectionList .imageDescWrap {
  display: flex;
}

.sectionList .title {
  font-weight: bold;
}

.sectionList .subTitle {
  font-style: italic;
  font-size: 16px;
}

.sectionList .date {
  display: block;
  text-transform: uppercase;
  margin-top: 8px;
  color: #aaa;
  font-size: 14px;
}

.sectionList .logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.error {
  display: block;
  font-size: 14px;
  margin: 20px;
  color: #ff0000;
}

input[type="text"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input::placeholder {
  color: #ccc;
}

label {
  font-size: 14px;
  font-weight: 500;
}

button {
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(248 185 42);
  cursor: pointer;
}
